body{
  font-family: "Helvetica Neue";
  background-color: #B1A296;
}

.card_container{
font-family: Oxygen, sans-serif;
display: grid;
margin: 2rem;
grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
grid-gap: 2rem;
justify-content: center;
}

.card {
background: #5D5C61;
color: white;
overflow: hidden;
box-shadow: 0px 2px 20px grey;
border-radius: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
cursor: pointer;
transition: transform 200ms ease-in;
}

.card img {
height: 12rem;
width: 100%;
object-fit: cover;
}

.card_title {
padding: 1rem;
text-align: center;
}

.card_description {
padding: 1rem;
}

.card button {
padding: 1rem;
font-family: inherit;
font-weight: bold;
font-size: 1rem;
margin: 1rem;
border: 2px solid transparent;
color: white;
background: transparent;
border-color: white;
transition: background 200ms ease-in, color 200ms ease-in;
}


.card:hover {
transform: scale(1.02);
}

.card_button:hover {
background: white;
color: white;
}

section {
  text-align: center;
}


.bgimage {
  width:100%;
  height: 300px;
  background: url('../imgs/hoi-hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h1 {
  position: absolute;
  color: white;
  text-align: center;
  top: 4rem;
  left: 30%;
  text-shadow:2px 2px #333;
}

.bgimage h5 {
  color: white;
  position: absolute;
  text-align: center;
  top: 11rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 20px;
  background-color: #343C44;
  color: white;
}
