.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card {
    margin: auto;
    width: 75%;
}

.jumbotron {
    color: white;
    background-image: url("../imgs/index-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}