.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card {
    margin: auto;
    width: 75%;
}

.bgimage {
    width:100%;
    height: 300px;
    background: url('../imgs/index-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
.bgimage h1 {
    position: absolute;
    color:white;
    top: 3rem;
    left: 27%;
    text-shadow:2px 2px #333;
}

.bgimage p {
    color: white;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
}