.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card {
    margin: auto;
    width: 75%;
}

.hero-img {
    position: relative;
    width: 100%;
    height: 20%;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}